.submit{
    padding: 10px;
    border-radius: 10px;
    border: none;
    background-color: #164DF2;
    color: #e5e5e5;
    font-size: 1.2rem;
}
.delete{
    background-color: #E74C3C;
}
.input-tn, .text-area {
    padding: 10px;
    border: 1px solid #e5e5e5;
    border-radius: 20px;
}

form{
    display: flex;
    gap: 10px;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
}

.form-group{
    display: flex;       
    align-items: center;
    gap: 10px;
}
.select-container{
    position: relative;
    display: inline-block;
}
select {
    appearance: none;
    width: 200px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 20px;
    background-color: white;
    cursor: pointer;
}

.select-container::after {
    content: '▼';
    font-size: 12px;
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    pointer-events: none;
    color: #555;
}

select:focus, .input-tn:focus {
    outline: none;
    border-color: #007bff;
    box-shadow: 0 0 5px rgba(0,123,255,0.5);
}