.submit{
    padding: var(--space-md);
    border-radius: var(--space-md);
    border: none;
    background-color: var(--color-primary);
    color: var(--color-surface);
    font-size: 1.2rem;
    box-shadow: var(--shadow-sm);
    transition: var(--transition-a);
}

.submit:hover{
    transform: translateY(5px);
}
.delete{
    background-color: var(--color-danger);
}
.input-tn, .text-area {
    padding: var(--space-md);
    border: 1px solid var(--color-border);
    border-radius: var(--radius-lg);
}

form{
    display: flex;
    gap: var(--space-md);
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
}

.form-group{
    display: flex;       
    align-items: center;
    gap: var(--space-md);
}
.select-container{
    position: relative;
    display: inline-block;
}
select {
    appearance: none;
    width: 200px;
    padding: var(--space-md);
    border: 1px solid var(--color-border);
    border-radius: var(--radius-lg);
    background-color: var(--color-surface);
    cursor: pointer;
}

.select-container::after {
    content: '▼';
    font-size: 12px;
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    pointer-events: none;
    color: #555;
}

select:focus, .input-tn:focus {
    outline: none;
    border-color: var(--color-primary);
    box-shadow: var(--shadow-sm);
}