
.container-table{
    background-color: #FFF;
    width: 80vw;
    border-radius: 20px;
    margin: 40px auto;
    overflow: hidden;
}
.exhibition-table{
    width: 100%;
    border-collapse: collapse;
}
.exhibition-table thead{
    background-color: #3061F2;
}

.exhibition-table th{
    font-weight:600;
    color:#e5e5e5;
}

.exhibition-table td{
    border-top:1px solid #e5e5e5;
}

.exhibition-table td, th{
    text-align:center;
    word-break: break-word;
    padding: 20px;
    overflow-wrap: break-word;
}